* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.row {
    background-color: lightgrey;
    border: 1px solid grey;
}

.col {
    padding: 15px;
    border: 1px solid grey;
}

.row {
    margin-bottom: 15px;
    margin-top: 15px;
}